<div class="container-fluid d-flex flex-column justify-content-center align-items-center home-container">

    <div class="row w-100">
      <div class="col d-flex align-items-center justify-content-center hi-name">
        Hi Devankshi
      </div>
    </div>
  
    <div class="row w-100 mt-4">
      <div class="col d-flex flex-wrap justify-content-center gap-3 home-buttons">
        <a routerLink="/safemap" class="btn-3d" routerLinkActive="active-link">Safe Map?</a>
        <a routerLink="/plantrip" class="btn-3d" routerLinkActive="active-link">Plan Trip?</a>
        <a routerLink="/feelinglucky" class="btn-3d" routerLinkActive="active-link">Feeling Lucky!</a>
      </div>
    </div>
  
  </div>
  