<!-- header -->
<div class="container">
  <div class="row" id="nav">

    <div class="col mt-3" id="logo">
      <a routerLink="/">Safe Streets</a>
    </div>
    
    <div class="col mt-3" id="profile">
      <a id="profile-name" routerLink="/profile">
        <!-- <img height="500" width="50" alt="pfp" id="profile-picture" src="assets/pfp.jpeg"> -->
        (  ≧ᗜ≦) Devankshi
      </a>
    </div>
    
  </div>
</div>

<div id="container">
  <div id="officer" class="officer"></div>
  <div id="touristy" class="touristy"></div>
  <div id="gambler" class="gambler"></div>
</div>


<!-- footer -->
<footer>Developed by Devankshi in 2025</footer>

<router-outlet></router-outlet>
